logging:
  level:
    root: warn
spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE}
    default: dev
  jpa:
    generate-ddl: true
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: create-drop
  output:
    ansi:
      enabled: always
  sql:
    init:
      mode: always

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs

sentry:
  dsn: https://c58d7cfe0ea030fcfe01a7463cbe368c@o4507844741103616.ingest.de.sentry.io/4507844751523920
  traces-sample-rate: 1.0
rsa:
  private-key: classpath:certs/private.pem
  public-key: classpath:certs/public.pem